<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Category", "Index", "Categories")</li>
    <li>@Html.ActionLink("Users", "Index", "AspNetUsers")</li>
    <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
</ul>

