@model NetPressAssignment.Models.Post

@{
    ViewBag.Title = "Details";
}


<div>
 
    <hr />
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    @*@Html.DisplayFor(model => model.Body)*@
                    @Html.Raw(Model.Body)
                    <br><br>
                    <span class="post-meta">Posted by <i>@Html.DisplayFor(model => model.AspNetUser.UserName)</i> on <i>@Html.DisplayFor(model => model.LastModified)</i> </span>
                </div>

            </div>
            
        </div>
    </article>
    <hr>

    
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section PostTitle{
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr class="small">
    <h2 class="subheading">@Html.DisplayFor(model => model.Category.Name)</h2>
}



