@model NetPressAssignment.Models.Post

@{
    ViewBag.Title = "Details";
}


<div>

    <hr />
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    @Html.Raw(Model.Body)
                    <br><br>
                    <span class="post-meta">Posted by <i>@Html.DisplayFor(model => model.AspNetUser.UserName)</i> on <i>@Html.DisplayFor(model => model.LastModified)</i> </span>
                </div>

            </div>

        </div>
    </article>
    <hr>


</div>

<p>
    <a href="@Url.Action("Index", "Home")">
        <i class="fa fa-chevron-circle-left fa-3x"></i>
    </a>
      
    @if (User.IsInRole("admin"))
    {
        <a href="@Url.Action("Edit", "Posts", new { id = Model.PostID})">
            <i class=" fa fa-pencil fa-3x"></i> 
        </a>
    }  
</p>

@section PostTitle{
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr class="small">
    <h2 class="subheading">@Html.DisplayFor(model => model.Category.Name)</h2>
}



