@model IEnumerable<NetPressAssignment.Models.Post>

@{
    ViewBag.Title = "GetPosts";
}

<h2>GetPosts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul class="nav nav-tabs">
    <li class="active"><a href="#published" data-toggle="tab">Published</a></li>
    <li><a href="#draft" data-toggle="tab">Draft</a></li>
    <li><a href="#archived" data-toggle="tab">Archived</a></li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="published">
        <a href="" onclick="">
            @*@Html.ActionLink("Call Method", "GetPosts", "Posts", new { @id = "published" }, null))*@
            @*@Html.ActionLink("Call Method", "Index", "Posts"))*@
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastModified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                            @Html.ActionLink("View", "Details", new { id = item.PostID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                        </td>
                    </tr>
                }

            </table>
        </a>


        @*@foreach (var category in Model.Categories)
            {
                <li>@category</li>
            }*@
    </div>
    <div class="tab-pane fade" id="draft">

    </div>
    <div class="tab-pane fade" id="archived">

    </div>
</div>

