@model IEnumerable<NetPressAssignment.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                 @foreach (var p in Model)
                {   
                    <a href="post.html">
                        <h2 class="post-title">
                            @*@Html.DisplayNameFor(model => model.Title)*@                            
                            @Html.DisplayFor(modelItem => p.Title)
                        </h2>
                        <h3 class="post-subtitle">
                            @*@Html.DisplayNameFor(model => model.Category)*@
                            @Html.DisplayFor(modelItem => p.Category.Name)
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">@Html.DisplayFor(modelItem => p.Username) </a>Date Created @Html.DisplayFor(modelItem => p.DateCreated) </p>
                }
            </div>
            <hr>
            <div class="post-preview">
                @Html.ActionLink("List of posts", "Details", "Posts")<br />
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>

@section PostTitle{
    <h1>WordPress</h1>
    <hr class="small">
    <span class="subheading">By Clara Galea, Sheryl Camiller, Natasha Nikolic</span>
}
